.text-field-sizing() {
  &.field {
    width: 100%;
    &:hover {
      .input-hover();
    }
    &:focus {
      .input-focus();
    }
  }
}

.text-field-border() {
  border: 2px solid @default-base;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select {
  .text-field-sizing();
  .text-field-border();
  &.field {
    padding: 10px;
    height: 40px;
  }
}

input[type="color"] {
  &.field {
    width: 100%;
    height: 40px;
  }
}

input[type="range"] {
  &.field {
    width: 100%;
    border: 0px solid @default-base;
  }
}

textarea {
  .text-field-sizing();
  .text-field-border();
  &.field {
    padding: 7px 10px;
  }
}

select.field {
  padding: 7px;
}

select[multiple].field,
textarea.field {
  height: 85px;
}

input[type="file"].field {
  height: 40px;
}

input[type="file"].field::-webkit-file-upload-button {
  height: 40px;
}

input[type="checkbox"],
input[type="radio"] {
  &.field {
    height: 40px;
    vertical-align: middle;
  }
}

label input[type="checkbox"],
label input[type="radio"] {
  position: relative;
  bottom: 1px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

.button-styling() {
  height: 40px;
  background-color: @default-base;
  color: black;
  border: 2px solid @default-base;
  &:hover {
    .button-hover();
  }
}

input[type="submit"],
input[type="reset"] {
  .button-styling();
}

button, .button {
  .button-styling();
}

.group {
  display: table;
}

.group-item {
  display: table-cell;
  width: 0.01%;
}

span.group-item {
  background-color: @default-base;
  padding-left: 10px;
  padding-right: 10px;
}
